{% extends 'catblogs/base.html' %}

{% block content %}
    <h2>Edit post</h2>
    <div class="form">
        <form method="POST" class="post-form">{% csrf_token %}
            <div class="edit-title">
                <p>Edit title: {{ catform.catitle }}</p>
            </div>
            <div class="edit-text">
                <p>Edit text: {{ catform.catext }}</p>
            </div>
            <div class="edit-button">
                <button type="submit">Publish</button>
            </div>
        </form>
    </div>
{% endblock %}
