{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thoth</title>
    <link rel="stylesheet" type="text/css" href="{% static 'omnipotenthoth/css/style.css' %}">
    <link rel="icon" type="image" href="{% static 'omnipotenthoth/images/icon1.jpg' %}">
</head>
<body>
    <div class="body-wrapper">

        <div class="header-wrapper">
            <div class="header">
                <a href="/" class="logo">Caturday Thoth</a>
                <a href="{% url 'thoth:tip_next' %}"><div class="button">Next tip</div></a>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>

        <footer>
            <p class="footer">© 2021 Made by Chameleon Leonard ~^o.o^~</p>
        </footer>

    </div>
</body>
</html>
