{% extends "accounts/main.html" %}

{% block content %}
    <h2>Password changing</h2>
    <div class="mess">
        <p>Use the form below to change your password:</p>
    </div>
    <form action="." method="post">
        <div class="mess">
            {% if form.errors %}
                {{ form.old_password.errors }}
                {{ form.new_password1.errors }}
                {{ form.new_password2.errors }}
            {% endif %}
        </div>
        <table>
            <tr><td>{{ form.old_password.label_tag }}<br>{{ form.old_password }}</td></tr>
            <tr><td>{{ form.new_password1.label_tag }}<br>{{ form.new_password1 }}</td></tr>
            <tr><td>{{ form.new_password2.label_tag }}<br>{{ form.new_password2 }}</td></tr>
            <tr><td>{{ form.new_password1.help_text|safe }}</td></tr>
        </table>

        <div class="but-wrap">
            <input class="button" type="submit" value="Change password">
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
