{% extends "accounts/main.html" %}

{% block content %}
    <div class="mess">
        {% if validlink %}
            <p>Please, enter (and confirm) your new password.</p>
            <form action="" method="post">
            {% csrf_token %}
                <div class="mess">
                    {% if form.errors %}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    {% endif %}
                </div>
                <table>
                    <tr><td>{{ form.new_password1.label_tag }}</td>
                        <td>{{ form.new_password1 }}</td></tr>
                    <tr><td>{{ form.new_password2.label_tag }}</td>
                        <td>{{ form.new_password2 }}</td></tr>
                    <tr><td><input type="submit" value="Confirm" /></td></tr>
                </table>
            </form>
        {% else %}
            <h2>Password reset failed</h2>
            <p>The password reset link was invalid, possibly because it has already been used.<br>
                Please, request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}
