{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Caturday</title>
    <meta name="description" content="Site created for practice while studying">
    <meta name="author" content="Chameleon Leonard">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
    <link rel="icon" type="image" href="{% static 'homepage/images/icon1.jpg' %}">
</head>
<body>
    <header class="header">
        <div class="overlay">
            <h1 class="header-title"><small>Every day is<br></small><big>Caturday</big></h1>
        </div>
    </header>

    <section class="content">
        <div class="card">
            <a href="{% url 'thoth:tip_start' %}">
                <div class="card-block">
                    <img src="{% static 'homepage/images/seamless_back3.jpg' %}" class="card-image">
                    <h3 class="card-title">Thoth</h3>
                    <p class="card-text">The power of omnipotent Thoth: he randomly gives you some advice,
                        succinct statement or ask rhetorical question for thinking about.</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'catpolls:index' %}">
                <div class="card-block">
                    <img src="{% static 'homepage/images/seamless_back2.jpg' %}" class="card-image">
                    <h3 class="card-title">Polls</h3>
                    <p class="card-text">Here we do not shy about expressing our thoughts.
                        Real chance to be involved in common catlife - taking part in votes.</p>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'catblogs:catpost_list' %}">
                <div class="card-block">
                    <img src="{% static 'homepage/images/seamless_back1.jpg' %}" class="card-image">
                    <h3 class="card-title">Blogs</h3>
                    <p class="card-text">Incredible stories from cool guys about their totaly inimitable lifes.
                        Let's just enjoy fairy tales or true stories.</p>
                </div>
            </a>
        </div>
    </section>

    <footer class="footer">
        <h4 class="footer-author">My goal is to inspire you for good deeds. Meow! ~^o.o^~</h4>
    </footer>
</body>
</html>
