{% extends 'catpolls/index.html' %}
{% load static %}

{% block content %}
    <h1>{{ catuestion.catuestion_text }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="POST">
    {% csrf_token %}
    <div class="">
        <table>
            {{ form.as_table }}
        </table>
    </div>

    <div class="">
        <p>{{ CreateChoice.cachoice_text }}</p>
        <p>{{ PollChoiceFormSet }}</p>
    </div>

    <div class="">
        <input class="button" type="submit" value="Publish" />
    </div>

    </form>
{% endblock %}
